@{ ViewBag.Title = "About";
                ViewBag.Message = "What's this all about?"; }
<h2>@ViewBag.Title</h2>
<br />
<h3>@ViewBag.Message</h3>
<br />
<div class="container" id="aboutText">
    <p>Make a inventory of loadouts of guns</p>

    <p>

    </p>

    <p>
        <strong>To get started:</strong> 
    </p>

    <p>

    </p>

    <p>

    </p>

    <p>

        <i>

        </i>
    </p>

</div>

<br />
