@{ ViewBag.Title = "Home Page"; }

<div>
    <div>
        <h1></h1>
        <p class="lead">
            
        </p>
        <button class="btn btn-info btn-lg" id="jumboButton">@Html.ActionLink("Get Started", "Inventory","Guns")</button>
    </div>
</div>

<div class="row text-center">
    <div class="col-md">

        <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
        <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. -->
        <div style="color:#ccc;font-size:10px; text-align:right; width:1000px;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div>
        <!-- end sw-rss-feed code -->

    </div>
</div>
